<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <title>채팅</title>
</head>
<link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">

<body class="body">
  <div>
    <div class="header">
    </div>
    <div class="wrap">
      <div class="Lwrap">
        <div class="vs_box">
          <div class="L_vs">
            <div class="L_vs_profile">
              <img id="L_vs_profile">
            </div>
            <div class="L_vs_status">
              <div class="wrap_lv">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsplv.<strong id="L_lv"></strong></div>
              <div class="wrap_nickname">&nbsp<strong id="L_nickname"></strong></div>
              <strong>HP</strong>
              <div class="L_vs_hp">
                <div class="L_vs_hp_content" id="L_vs_hp_content"></div>
              </div>
              <strong>MP</strong>
              <div class="L_vs_mp">
                <div class="L_vs_mp_content"></div>
              </div>
            </div>
          </div>
          <div class="R_vs">
            <div class="R_vs_status">
              <div class="wrap_lv">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsplv.
                <strong id="level"></strong>
              </div>
              <div class="wrap_nickname">&nbsp<strong id="nickname"></strong></div>
              <strong>HP</strong>
              <div class="R_vs_hp">
                <div class="R_vs_hp_content" id="R_vs_hp_content"></div>
              </div>
              <strong>MP</strong>
              <div class="R_vs_mp">
                <div class="R_vs_mp_content"></div>
              </div>
            </div>
            <div class="R_vs_profile">
              <img id="R_vs_profile">
            </div>
          </div>
        </div>

        <div class="main_box" id="main_box">
          <div class="story" id="story">
            <img id="lobby">
          </div>
        </div>

        <div>
          <input class="chat_box" id="text" placeholder="메세지를 입력해 주세요" onkeyup="if(window.event.keyCode==13){send()} ">
          <button class="btn" id="sendBtn" onclick="send()">전송</button>
          <button class="logoutBtn" onclick="logout()">로그 아웃</button>
        </div>

        <div class="get_box">
          <div class="get" id="get"></div>
        </div>

      </div>

      <div class="Rwrap">
        <div class="wrap_status">
          <div class="status">
            <div>직업 : <strong id="job"></strong></div>
            <div>레벨 : <strong id="level2"></strong></div>
            <div>경험치 : <strong id="exp"></strong> / <strong id="needExp"></strong></div>
            <div>물리 공격력 : <strong id="power"></strong> (+ <strong id="subPower">0</strong>)</div>
            <div>마법 공격력 : <strong id="magic"></strong> (+ <strong id="subMagic">0</strong>) </div>
            <div>방어력 : <strong id="defense"></strong> (+ <strong id="subDefense">0</strong>) </div>
            <div>체력 : <strong id="HP"></strong> / <strong id="maxHP"></strong></div>
            <div>마나 : <strong id="MP"></strong> / <strong id="maxMP"></strong></div>
            <div>보유 골드 : <strong id="money"></strong>골드</div>
            <div>장착중인 장비<br>
              1. <strong id="helmet">미착용</strong><br>
              2. <strong id="armor">미착용</strong><br>
              3. <strong id="weapon">미착용</strong><br>
            </div>
            <div>장착중인 키링<br>
              1. <strong id="keyRing1">미착용</strong><br>
              2. <strong id="keyRing2">미착용</strong><br>
              3. <strong id="keyRing3">미착용</strong><br>
            </div>
          </div>
        </div>
        <div class="wrap_chatting">
          <div class="chatting" id="chatting">
            <div id="chattingList"></div>
          </div>
        </div>
        <input class="chat_box2" id="chat_box2" placeholder="메세지를 입력해 주세요"
          onkeyup="if(window.event.keyCode==13){send_chat()} ">
        <button class="chat_btn" id="chat_btn" onclick="send_chat()">전송</button>
        <button id="clear" onclick="clear_chat()">Clear</button>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <link href="/css/main.css" type="text/css" rel="stylesheet">
  <script src="/js/main.js" defer></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
<script>

</script>

</html>